.expansion-panel-header-padding {
	padding: 0 16px;
}

strong {
	font-weight: 500;
}

.box-group {
	border: 1px solid #cecece;
	margin-top: 1.5rem;
	// padding: 0.75rem;
	border-radius: 3px;
	color: #7d7d7d
}

.download-button {
	height: fit-content;
	width: 100%;
}
